@import 'bootstrap/dist/css/bootstrap.min.css'
@import "./variables/variables"

.App
  background-color: $bg-light
  color: $font-dark
  overflow: hidden

body
  padding-top: 80px
  
h1
  color: $font-dark

/*************** NAVBAR ***************/

.nav-bar
  background-color: $bg-dark
  height: 80px
  border-bottom: solid 5px $accent

.nav-bar-dropdown, .nav-bar-item
  font-size: 24px
  font-weight: $semi-bold
  color: $font-light
  text-decoration-line: none
  margin: 0.75rem 0.5rem
  align-items: center

  &:hover
    color: $font-highlight

.nav-bar-brand
  @extend .nav-bar-item

  font-size: 36px

.nav-bar-dropdown-header
  font-weight: $bold
  color: $accent

.nav-bar-dropdown-item
  margin-left: 15px

  &:hover
    font-weight: $bold
    background-color: transparent

.nav-bar-github
  @include icon(#6e5494, 36px)

.nav-bar-linkedin
  @include icon(#0077b5, 36px)

/************* NAVBAR END **************/

/**************** HOME *****************/

.home-background
  height: 105vh
  position: relative
  border-bottom: solid 10px $bg-dark
  top: -80px
  // background: url("./images/calgary-skyscrapers.jpg") no-repeat center center
  background: url("./images/calgary-saddledome.jpg") no-repeat center bottom
  background-size: cover
  width: 100%
  background-attachment: fixed

.profile-description
  text-align: center
  width: 40%
  margin: auto
  position: relative
  top: -50px

  .profile-pic
    border: solid 12px $bg-dark
    margin-bottom: 15px

/************** HOME END ***************/

/************** PROJECTS ***************/
.company-header
  color: $font-dark
  text-align: left
  padding-left: 1vw
  font-weight: $medium
  font-variant: small-caps

.proj-card
  p, h3
    text-align: left

.proj-image
  width: 38vw
  margin: 1vw
  border-radius: 5%

.proj-desc
  @extend .proj-image
  width: 58vw

/************ PROJECTS END *************/

/************* EDUCATION ***************/
.education-background
  background: url("./images/Grad-1.jpg") no-repeat center top
  background-size: contain
  background-position: 0vw 0
  height: 100vw
  background-attachment: fixed
  border-right: solid $accent 5px
  padding-right: 40vw

.education-text
  color: $font-dark
  font-weight: $bold
  font-size: 48px
  text-align: right
  padding-right: 2vw

  p
    font-size: 24px
    font-weight: normal

/*********** EDUCATION END *************/

/*************** FOOTER ***************/

.footer
  text-align: center
  position: static
  bottom: 0
  width:100%

  align-content: center
  justify-content: center
  background-color: $bg-dark
  

.footer-github
  @include icon(#6e5494, 36px)

.footer-linkedin
  @include icon(#0077b5, 36px)

/************* FOOTER END *************/