@import 'bootstrap/dist/css/bootstrap.min.css';
.App {
  background-color: #F5F5F5;
  color: #000000;
  overflow: hidden;
}

body {
  padding-top: 80px;
}

h1 {
  color: #000000;
}

/*************** NAVBAR ***************/
.nav-bar {
  background-color: #282c34;
  height: 80px;
  border-bottom: solid 5px #F28C28;
}

.nav-bar-dropdown, .nav-bar-item, .nav-bar-brand {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-decoration-line: none;
  margin: 0.75rem 0.5rem;
  align-items: center;
}
.nav-bar-dropdown:hover, .nav-bar-item:hover, .nav-bar-brand:hover {
  color: #dddddd;
}

.nav-bar-brand {
  font-size: 36px;
}

.nav-bar-dropdown-header {
  font-weight: 700;
  color: #F28C28;
}

.nav-bar-dropdown-item {
  margin-left: 15px;
}
.nav-bar-dropdown-item:hover {
  font-weight: 700;
  background-color: transparent;
}

.nav-bar-github {
  width: 36px;
  height: 36px;
  color: #ffffff;
  margin: 0.75rem 0.5rem;
}
.nav-bar-github:hover {
  color: #6e5494;
}

.nav-bar-linkedin {
  width: 36px;
  height: 36px;
  color: #ffffff;
  margin: 0.75rem 0.5rem;
}
.nav-bar-linkedin:hover {
  color: #0077b5;
}

/************* NAVBAR END **************/
/**************** HOME *****************/
.home-background {
  height: 105vh;
  position: relative;
  border-bottom: solid 10px #282c34;
  top: -80px;
  background: url("./images/calgary-saddledome.jpg") no-repeat center bottom;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}

.profile-description {
  text-align: center;
  width: 40%;
  margin: auto;
  position: relative;
  top: -50px;
}
.profile-description .profile-pic {
  border: solid 12px #282c34;
  margin-bottom: 15px;
}

/************** HOME END ***************/
/************** PROJECTS ***************/
.company-header {
  color: #000000;
  text-align: left;
  padding-left: 1vw;
  font-weight: 500;
  font-variant: small-caps;
}

.proj-card p, .proj-card h3 {
  text-align: left;
}

.proj-image, .proj-desc {
  width: 38vw;
  margin: 1vw;
  border-radius: 5%;
}

.proj-desc {
  width: 58vw;
}

/************ PROJECTS END *************/
/************* EDUCATION ***************/
.education-background {
  background: url("./images/Grad-1.jpg") no-repeat center top;
  background-size: contain;
  background-position: 0vw 0;
  height: 100vw;
  background-attachment: fixed;
  border-right: solid #F28C28 5px;
  padding-right: 40vw;
}

.education-text {
  color: #000000;
  font-weight: 700;
  font-size: 48px;
  text-align: right;
  padding-right: 2vw;
}
.education-text p {
  font-size: 24px;
  font-weight: normal;
}

/*********** EDUCATION END *************/
/*************** FOOTER ***************/
.footer {
  text-align: center;
  position: static;
  bottom: 0;
  width: 100%;
  align-content: center;
  justify-content: center;
  background-color: #282c34;
}

.footer-github {
  width: 36px;
  height: 36px;
  color: #ffffff;
  margin: 0.75rem 0.5rem;
}
.footer-github:hover {
  color: #6e5494;
}

.footer-linkedin {
  width: 36px;
  height: 36px;
  color: #ffffff;
  margin: 0.75rem 0.5rem;
}
.footer-linkedin:hover {
  color: #0077b5;
}

/************* FOOTER END *************/

/*# sourceMappingURL=App.css.map */
